<div class="posts-wrapper row">
  <% @posts.each do |post|  %>
    <%= render 'post', post: post %>
    <%= paginate @posts %>
    <div class="post">
      <div class="post-head">
        <div class="thumb-img">
          <div class="user-name">
            <%= post.user.user_name %>
          </div>
        </div>
      </div>
      <div class="image center-block">
        <%= link_to (image_tag post.image.url, class: 'img-responsive'), post_path(post)  %>
      </div>
      <div class="post-bottom">
        <div class="caption">
          <div class="user-name">
            <%= post.user.user_name  %>
          </div>
          <%= post.caption  %>
          <div id="posts">
          </div>
          <div class="text-center" id="paginator">
            <%= link_to_next_page @posts, 'LOAD MORE', remote: true, id: 'load_more' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

