/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

html {
  height: 100%;
}

body {
background-color: #fafafa;
font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.alert {
  margin-bottom: 0px;
}

/* ## NAVBAR CUSTOMISATIONS ## */

.navbar {
  margin-bottom: 0px;
}

.navbar-brand {
a {
color: #125688;
  }
}
.navbar-default {
background-color: #fff;
height: 54px;
.navbar-nav li a {
color: #125688;
  }
}
.navbar-container {
width: 640px;
margin: 0auto;
}

/* POST CUSTOMISATIONS ## */

.posts-wrapper {
padding-top: 40px;
margin: 0auto;
max-width: 642px;
width: 100%;
}
.post {
background-color: #fff;
border-color: #edeeee;
border-style: solid;
border-radius: 3px;
border-width: 1px;
margin-bottom: 60px;
.post-head {
flex-direction: row;
height: 64px;
padding-left: 24px;
padding-right: 24px;
padding-top: 24px;
color: #125688;
font-size: 15px;
line-height: 18px;
.user-name, .time-ago {
	display: inline;
}
.user-name {
	font-weight: 500;
}
.time-ago {
	color: #A5A7AA;
	float: right;
	}
}
.image {
border-bottom: 1px solid #eeefef;
border-top: 1px solid #eeefef;
	}
}
.post-bottom {
	.user-name, .comment-content {
	 	display: inline;
}
.caption {
	margin-bottom: 7px;
}
.user-name {
	font-weight: 500;
	margin-right: 0.3em;
	color: #125688;
	font-size: 15px;
}
.user-name, .caption-content {
	display: inline;
}
#comment {
	margin-top: 7px;
	.user-name {
		font-weight: 500;
		margin-right: 0.3em;
}
.delete-comment {
	float: right;
	color: #515151;
	}
}
margin-bottom: 7px;
padding-top: 24px;
padding-left: 24px;
padding-right: 24px;
padding-bottom: 10px;
font-size: 15px;
}
.comment-like-form {
	padding-top: 24px;
	margin-top: 13px;
	margin-left: 24px;
	margin-right: 24px;
	min-height: 68px;
	align-items: center;
	border-top: 1px solid #EEEFEF;
	flex-direction: row;
	justify-content: center
}

/* Wrapper and styling for the new and edit views ## */

.edit-links {
margin-top: 20px;
margin-bottom: 40px;
}

.registration-bg {
  padding-top: 4em;
  height: 100%;
  background-image: image-url('regbackg.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-bg {
  padding-top: 4em;
  height: 100%;
  background-image: image-url('loginbg.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.log-in{
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  border: none;
}

.panel {
  border-radius: 8px;
}

.panel-heading{
  h1 {
    text-align: center;
  }
}

#image-preview {
  margin: 0px auto;
}

#post_image {
  padding: 1em;
  margin: 0px auto;
}

#paginator {
  color: #4090DB;
  height: 120px;
  width: 120px;
  margin: 60px auto 40px;
  position: relative;
  display: table;
  border: 2px solid #4090DB;
  border-radius: 50%;
  :hover {
    border: 1px solid #2D6DA8;
    border-radius: 50%;
  }
}

#load_more {
  display: table-cell;
  font-size: 12px;
  padding: 0px 9px;
  vertical-align: middle;
  text-decoration: none;
  a :hover {
    color: #2D6DA8;
  }
}

.comments {
  .paginator {
    margin: 0.5em;
    .more-comments {
      color: #A5A7AA;
    }
  }
}

.comment-submit-button {
  position: absolute;
  left: -9999px;
}

.profile-header {
  padding: 20px 0;
}

.profile-image {
  margin: 20px auto;
  height: 152px;
  width: 152px;
}

user-name-and-follow {
  display: inline
}

.profile-user-name {
  display: inline
}

.edit-button {
  border-color: #818488;
  color: #818488;
  margin-left: 20px
}

.profile-bio {
  margin-top: 20px;
}

#user_bio {
  border: 1px solid gray;
}

#user_avatar {
  padding: 1em;
	margin: 20px auto;
}

.likes {
  margin-top: 20px;
  margin-bottom: 7px;
}